:root {
    --primary-color: #000000;
    --secondary-color:#D3D3D3;
    --tertiary-color:#565656;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--secondary-color);
}

body a, a:visited {
    text-decoration: none;
    color: var(--tertiary-color);
}

/* Header Start */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;

}

header h1 {
    font-weight: bold;
    font-size: 4vh;
    color: var(--secondary-color);
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vh;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}




#head-shot img{
  
    border-radius: 50%;
}


/* Hero/Landing Image Start */

.hero {
    background-image: url("../images/copper_dice_on_black_1.jpg");
    /* background-size: cover; */
    background-position: 0 57%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 75vh;
    width: 100vw ;
    overflow: hidden;
}

.hero-text {
    font-family: cursive, Helvetica;
    font-size: 4vh;
    font-weight: lighter;
}



/* Section-About Me */

#about-me{
    text-align: center;
    color: #000;
    margin: 10vh 5vh;
}



/* Projects Section */

#projects{
    text-align: center;
    color: #000;
}


/* Run Buddy */

#run-buddy-image {
    height: 50vh;
    width: 60vw ;
}

#run-buddy-image img{
    height: 100%;
    width: 100vw;
}

/* Robot Gladiators */


#robot-image {
    height: 50vh;
    width: 100vw ;
}

#robot-image img{
    height: 100%;
    width: 100%;
}

/* Password Image */


#password-image {
    height: 50vh;
    width: 100vw ;
}

#password-image img{
    height: 100%;
    width: 100%;
}